.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 10px;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

// Loops to enumerate the classes for gallery columns.
@for $i from 2 through 9 {

	.gallery-columns-#{$i} {
		grid-template-columns: repeat($i, 1fr);
	}
}

.gallery-caption {
	display: block;
}

// Home page gallery styles

.gallery{
	width: 300px;
	margin: 0 auto;
	margin-bottom: 2rem;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	a:nth-child(1){
		grid-column: span 2;
		img{
			width: 300px;
		}
	}
}

@media (min-width: 600px) {
	.gallery{
		width: 590px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		margin: 0 auto;
		margin-bottom: 3rem;
		gap: 10px;
			a:nth-child(1){
				grid-column: span 2;
				img{
					width: 400px;
				}
			}
			a:nth-child(3){
				grid-column: span 2;
				img{
					width: 400px;
				}
			}
			a:nth-child(5){
				grid-column: span 3;
				img{
					width: 590px;
				}
			}
	}
}
.gallery{
	a{
		img{
			height: 190px;
			width: 190px;
		}
	}
}
