.main-navigation {
	display: block;
	width: 100%;
	z-index: 1000;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

// Dukes Restaurant styling

.site-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 0;
	.site-branding{
		.custom-logo-link{
			text-decoration: none;
			width: 125px;
			margin-left: 2rem;
		}
	}
	.main-navigation{
		width: auto;
		margin: 1rem;
		margin-right: 2rem;
		
		.menu-item{
			padding-right: 1rem;
			a{
				color: black;
				font-family: 'Josefin Sans', sans-serif;
				font-weight: 400;
				font-size: 1.3rem;
			}
		}
		.nav-menu{
			.sub-menu{
				display: block;
			}
		}
	}
}
@media (min-width: 600px) {
	.site-header{
		align-items: center;
		.site-branding{
			margin-left: 4rem;
		}
		.main-navigation{
			margin-right: 4rem;
		}
	}
}
