body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

// Home page hero section
.hero-home-text{
	h3,p{
		text-align: center;
		z-index: 99999;
		font-size: 2.5rem;
		position: relative;
		color: white;
		text-shadow: 3px 4px 12px #010101;
	}
}
@media (max-width:600px) {
	.hero-home-text{
		h3,p{
			font-size: 2rem;
		}
	}
}

// Menu CTA section
.menu-cta{
	margin-top: 5rem;
	margin-bottom: 5rem;
	background-color: #083C30;
	.cta-menu-heading{
		font-size: 2rem;
		padding-top: 3rem;
		text-align: center;
		color: white;
	}
	.cta-menu-text{
		text-align: center;
		width: 200px;
		margin: 0 auto;
		color: white;
	}
	a{
		text-align: center;
		background-color: #A77E58;
		padding: 4px;
		color: white;
		width: 65px;
		display: flex;
		margin: 0 auto;
		justify-content: center;
		text-decoration: none;
		border-radius: 10px;
	}
}

// Footer styles
.site{
	.site-footer{
	margin-top: 10rem;
	background-color: black;
	.site-info{
		.footer-menu{
			text-align: center;
			margin-bottom: 3rem;
			.menu{
				display: flex;
				justify-content: center;
				list-style: none;
				padding: 0;
				margin: 0;
				padding-top: 2rem;
				.menu-item{
					padding: 1rem;
					a{
						text-decoration: none;
						color: white;
					}
				}
			}

		}
		.restaurant-info-1{
			text-align: center;
			color: white;
			margin-bottom: 3rem;
			h3{
				font-size: 1.5rem;
			}
			p{
				margin: 0;
				padding: 0;
			}
		}
		.restaurant-info-2{
			text-align: center;
			color: white;
			padding-bottom: 3rem;
			h3{
				font-size: 1.5rem;
			}
			p{
				margin: 0;
				padding: 0;
			}
		}
	}
}
}

