body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	margin: 0;
}

// Home page hero section
.hero-home-text{
	h3,p{
		text-align: center;
		z-index: 99999;
		font-size: 2.5rem;
		position: relative;
		color: white;
		text-shadow: 3px 4px 12px #010101;
	}
}
@media (max-width:600px) {
	.hero-home-text{
		h3,p{
			font-size: 2rem;
		}
	}
}

// Menu CTA section
.menu-cta{
	margin-top: 5rem;
	margin-bottom: 5rem;
	background-color: #083C30;
	.cta-menu-heading{
		font-size: 2rem;
		padding-top: 3rem;
		text-align: center;
		color: white;
	}
	.cta-menu-text{
		text-align: center;
		width: 200px;
		margin: 0 auto;
		color: white;
	}
	a{
		text-align: center;
		background-color: #A77E58;
		padding: 4px;
		color: white;
		width: 65px;
		display: flex;
		margin: 0 auto;
		justify-content: center;
		text-decoration: none;
		border-radius: 10px;
	}
}

// Footer styles
.site{
	.site-footer{
	background-color: black;
	.site-info{
		.footer-menu{
			text-align: center;
			margin-bottom: 3rem;
			.menu{
				display: flex;
				justify-content: center;
				list-style: none;
				padding: 0;
				margin: 0;
				padding-top: 2rem;
				.menu-item{
					padding: 1rem;
					a{
						text-decoration: none;
						color: white;
					}
				}
			}

		}
		.restaurant-info-1{
			text-align: center;
			color: white;
			margin-bottom: 3rem;
			h3{
				font-size: 1.5rem;
			}
			p{
				margin: 0;
				padding: 0;
			}
		}
		.restaurant-info-2{
			text-align: center;
			color: white;
			padding-bottom: 3rem;
			h3{
				font-size: 1.5rem;
			}
			p{
				margin: 0;
				padding: 0;
			}
		}
	}
}
}

@media (min-width:600px) {
	.site{
		.site-footer{
			.site-info{
				display: flex;
				justify-content:space-evenly;
				flex-direction: row-reverse;
			}
			.footer-menu{
			 justify-content: flex-start;
			}
			.restaurant-info-1{
				width: 150px;
				margin-right: 10rem;
			}
			.restaurant-info-2{
				width: 150px;
				margin: 0;
			}
		}
	}
	
}


// Menu Mobile Styling 
.site-main{
	padding-bottom: 5rem;
	// Main Categories styles, They are classless so they fall back on Unordered lists
	section{
		h2{
			text-align: center;
			font-size: 2rem;
			color: white;		
		}
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			text-align: center;
			margin-top: 8rem;
			display: grid;
			grid-template-columns: 1fr 1fr;
			width: 200px;
			margin: 0 auto;
			gap: 5px;
			li{
				// height: 200px;
				width: 100px;
				padding: 1rem;
				margin: 0 auto;
				background-color: white;
				a{
					text-decoration: none;
					color: #083C30;
				}
			}
		}
	}
	// Menu Item styling 
	.menu-card{
		// background-color: beige;
		width: 300px;
		margin: 0 auto;
		padding: 5px;
		margin-top: 2rem;
		border: 3px solid white;
		h2{
			text-transform: capitalize;
			text-align: center;
			color: white;
		}
		.food-description{
			text-align: center;
			p{
				margin: 0;
				padding: 0;
				color: white;
			}
		}
		.food-price{
			text-align: center;
			font-weight: 500;
			color: white;
		}
		}
		// flavour list choices styling
		.food-flavour{
			margin: 0 auto;
			
			ul{
				width: 300px;
				display: grid;
				margin: 0 auto;
				grid-template-columns: 1fr 1fr;
				gap: 5px;
				li{
					width: 100%;
				}
			}

		}
	}

// Menu Desktop Styling
@media (min-width: 600px) {
	.site-main{
		section{
			h2{
				text-align: center;
				font-size: 3rem;
			}
			ul{
				display: grid;
				grid-template-columns: 1fr 1fr;
				width: 200px;
				margin: 0 auto;
				margin-top: 8rem;
				// gap: 40px;
				
				li{
					// width: 100%;
				}
			}
		}
		.menu-card{
			width: 400px;
		}
	}
	
}

@media (min-width: 710px) {
	.site-main{
		section{
			ul{
				width: 200px;
			}
		}
		.menu-card{
			width: 400px;
		}
		}
	}


// About Page Mobile styling

.site-main{
	background-color: #083C30;
	.intro-paragraph{
		color: white;
		margin: 0 auto;
		width: 280px;
		text-align: center;
		margin-top: 5rem;
	}
	.careers-cta-wrapper{
		color: white;
		padding-bottom: 5rem;
		.cta-text{
			margin-top: 5rem;
			h1{
				width: 290px;
				margin: 0 auto;
			}
			h2{
				font-size: 1rem;
				font-weight: 400;
			}
		}
		a{
		text-decoration: none;
		color: white;
		text-align: center;
		display: table;
		padding: .5rem;
		border: 3px solid white;
		margin: 0 auto;
	}
	}
	
}

@media (min-width: 700px) {
	.site-main{
		.intro-paragraph{
			width: 600px;
		}
	}
}
// Career Page Mobile styling
.career-section {
	color: white;
	margin: 2rem;
	line-height: 2rem;
}

.careers-card {
	border: 2px solid white;
	padding: 0 1.5rem;
	margin: 1.5rem 0;
}

@media (min-width: 700px) {
	.career-section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		margin-top: 5rem;
	}
	.careers-card {
		margin: 2rem;
		padding: 2rem;
	}

}