/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
	object-fit: cover;
}

figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}

// Food menu Image gallery styles

.site-main{
	ul{
		list-style: none;
		margin: 0;
		margin-top: 5rem;
		padding: 0;
	}
}